$col-bg: #f4f6fa;
$col-white: #fff;
$col-black: #000;
$col-black-a: #140f0b;
$col-green: #3ab055;
$col-red: #f02a1c;
$col-gray: #bdbfc9;
$col-gray-a: #acacb0;
$col-gray-b: #b7b7b7;
$col-gray-c: #f4f5f8;
$col-brown: #55432c;
$col-brown: #a99359;
$col-orange: #c24b27;
$col-orange-a: #f78144;
$col-pink: #f54e6f;
